<!DOCTYPE HTML>
<html>
	{{template "head.tmpl.html" .}}
	<body class="bg-dark">
		{{template "nav.tmpl.html" .}}
		<div class="container">
			<div class="jumbotron mt-5">
				<div class="row justify-content-center">
					<div class="col-md-8">
						<h1 class="display-4 text-center">Fortnite Uptime Tracker</h1>
					</div>
					{{with .status}}
					{{if eq .Status "UP"}}
					<div class="col-md-8 mt-3 text-center">
						<a class="btn btn-success btn-lg text-white" href="https://www.reddit.com/r/FORTnITE/">Fortnite servers are up!</a>
					</div>
					{{else}}
					<div class="col-md-8 mt-3 text-center">
						<a class="btn btn-danger btn-lg text-white" href="https://www.reddit.com/r/FORTnITE/">Fortnite servers are down!</a>
					</div>
					{{end}}
					{{end}}
					<div class="col-md-8 mt-3 text-center">
						<p>Contact <a href="mailto:fortnite-uptime-tracker@kevingentile.com">fortnite-uptime-tracker@kevingentile.com</a> with any issues</p>
					</div>

				</div>
			</div>
		</div>
	</body>
	{{template "footer.tmpl.html" .}}
</html>